node_modules/
dist/
.bifrost/
!internal/templates/*/.bifrost/
!internal/adapters/process/testembed/.bifrost/
!internal/adapters/http/.bifrost/
!internal/adapters/http/.bifrost/dist/
!internal/adapters/http/.bifrost/dist/app.js
tmp/
bifrost
!bifrost/
example
!example/
go.work
go.work.sum
.gocache/
*.exe
experiments/
.release/
