node_modules/
/example/basic/.bifrost/*
!/example/basic/.bifrost/embed.placeholder
/example/plugin/.bifrost/*
!/example/plugin/.bifrost/embed.placeholder
/example/structured/cmd/server/.bifrost/*
!/example/structured/cmd/server/.bifrost/embed.placeholder
*.tmp
