node_modules/
/example/basic/.bifrost/*
!/example/basic/.bifrost/embed.placeholder
/example/convention/.bifrost/
/example/plugin/.bifrost/*
!/example/plugin/.bifrost/embed.placeholder
/example/structured/cmd/server/.bifrost/*
!/example/structured/cmd/server/.bifrost/embed.placeholder
/example/wails/.bifrost/*
!/example/wails/.bifrost/embed.placeholder
/example/wails/bin/
/example/wails/wails
/example/wails/frontend/bindings/
/example/wails/frontend/node_modules/
*.tmp

/example/convention-minimal/.bifrost/
