package main

import (
	"embed"
	"log"
	"net/http"

	"github.com/3-lines-studio/bifrost"
)

//go:embed all:.bifrost
var bifrostFS embed.FS

func main() {
	app := bifrost.New(
		bifrostFS,
		bifrost.Page("/{$}", "./pages/home.tsx", bifrost.WithClient()),
	)
	defer app.Stop()

	addr := ":8080"
	log.Printf("Server running on http://localhost%s", addr)
	if err := http.ListenAndServe(addr, app.Handler()); err != nil {
		log.Fatal(err)
	}
}
